<?xml version="1.0"?>
<script xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" id="urn:uuid:052ce716-2236-472c-a7f8-63137a26caf3" chaining="implicit">
  <commands>
    <command xsi:type="ExecuteModuleCommand" id="urn:uuid:55abb818-47af-4491-9302-a6288a724449">
      <module name="w32system" version="1.4.36.0" />
      <config xsi:type="ParameterListModuleConfig">
        <parameters>
          <param name="Prevent Hibernation">
            <value xsi:type="xsd:boolean">true</value>
          </param>
        </parameters>
      </config>
      <filters />
    </command>
    <command xsi:type="ExecuteModuleCommand" id="urn:uuid:edf00e59-0382-4fe0-9034-aa266516564e">
      <module name="w32eventlogs" version="1.4.36.0" />
      <config xsi:type="ParameterListModuleConfig">
        <parameters>
          <param name="eventlog" />
          <param name="eventlogfullpath" />
          <param name="Prevent Hibernation">
            <value xsi:type="xsd:boolean">true</value>
          </param>
        </parameters>
      </config>
      <filters />
    </command>
    <command xsi:type="ExecuteModuleCommand" id="urn:uuid:92f36b5b-e113-45ef-9026-de115657dc8f">
      <module name="w32hivelist" version="1.4.36.0" />
      <config xsi:type="ParameterListModuleConfig">
        <parameters>
          <param name="Prevent Hibernation">
            <value xsi:type="xsd:boolean">true</value>
          </param>
        </parameters>
      </config>
      <filters />
    </command>
    <command xsi:type="ExecuteModuleCommand" id="urn:uuid:1ded6822-4a89-4c94-a2b4-2ab449f61a8b">
      <module name="w32registryapi" version="1.4.36.0" />
      <config xsi:type="ParameterListModuleConfig">
        <parameters>
          <param name="Path" />
          <param name="Path Regex" />
          <param name="Value Regex" />
          <param name="Type" />
          <param name="Prevent Hibernation">
            <value xsi:type="xsd:boolean">true</value>
          </param>
        </parameters>
      </config>
      <filters />
    </command>
    <command xsi:type="ExecuteModuleCommand" id="urn:uuid:c7f10b1b-a5ca-4cc6-9c9a-4436e48035ca">
      <module name="w32useraccounts" version="1.4.36.0" />
      <config xsi:type="ParameterListModuleConfig">
        <parameters>
          <param name="Prevent Hibernation">
            <value xsi:type="xsd:boolean">true</value>
          </param>
        </parameters>
      </config>
      <filters />
    </command>
  </commands>
</script>